.movie-item {
  display: flex;
  justify-content: space-between;
  min-height: 245px;
  padding: 6px 10px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.movie-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.movie-desc-block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.movie-desc {
  display: -webkit-box;
  max-width: 421px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.poster-big-hidden {
  display: none;
}

.poster-hidden {
  width: 16.4%;
}

.movie-layout-mobil {
  display: flex;
  gap: 13px;
}

.movie-item-mobil {
  width: 100%;
}

.wrapper-title {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #e9d100;
  border-radius: 50%;
}

.movie-release {
  color: #827e7e;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.genre {
  padding: 2.5px 4.5px;
  color: rgba(0, 0, 0, 0.65);
  line-height: normal;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
}

.ant-rate {
  margin-top: auto;
  align-self: flex-end;
}

.ant-rate-star {
  cursor: pointer;
  font-size: 16px;
}

.low-rating {
  border: 2px solid #e90000;
}

.medium-low-rating {
  border: 2px solid #e97e00;
}

.medium-rating {
  border: 2px solid #e9d100;
}

.high-rating {
  border: 2px solid #66e900;
}

@media (min-width: 1010px) {
  .movie-item {
    min-height: 281px;
    padding: 0;
  }

  .poster-hidden {
    display: none;
  }

  .poster-big-hidden {
    display: block;
    max-width: 183px;
  }

  .movie-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 268px;
    padding: 12px 9px 20px 20px;
  }

  .movie-desc {
    display: -webkit-box;
    max-width: 228px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
  }

  .ant-rate {
    align-self: flex-start;
  }
}
